@model JunquillalUserSystem.Models.ReservacionModelo;

@{
    ViewBag.Title = "Eliminar Tarifa";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
  }
<html>
<head>
</head>
<body>
    @using (Html.BeginForm("RealizarCheckIn", "AdministrarReserva", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        <h1>Asignar parcela para realizar Check In</h1>
        <div class="form-horizontal">
            <div class="form-group">
                @Html.LabelFor(model => model.Identificador)
                @Html.TextBoxFor(model => model.Identificador, new { @class = "form-control", @readonly = "readonly" })
                @Html.ValidationMessageFor(model => model.Identificador, "", new {@class = "text-danger"})
            </div>
            <div class="form-group">

                @Html.LabelFor(model => model.hospedero.Email)
                @Html.TextBoxFor(model => model.hospedero.Email, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.hospedero.Email, "", new { @class = "text-danger" })

            </div>
            <div class="formInput" id="divNombre">
                <label for="NumeroParcela">Número de parcela:</label><br>
                <input type="text" id="numeroParcela" name="numeroParcela" placeholder="Ingrese su nombre" size="50">
                
            </div>
            <input type="submit" class="btn btn-success" value="Eliminar Tarifa" />
        </div>
    }
</body>

</html>